* {
  box-sizing: border-box;
}
body {
    color: black;
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

h1 {
    font-family: 'Georgia', serif; /* Font for the heading */
}

ul.navbar{
    position: static;
    top: 5em;
    left: 2em;
    width: 80em;
    background-color: #213c6f;
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
}

ul.navbar li a {
	text-align: center;
    color: white; 
    padding: 7em; 
    display: inline;
	margin-right: 10px;
	text-decoration: none;
}

ul.navbar li {
	display: block;
	color: black;
	text-align: center;
	padding: 10px;
	text-decoration: none;
}

ul.navbar li a:hover {
    color: #4992f0;
}



@media all {
    body {
        font-size: 16px;
    }
}

@media print {
    body {
        font-size: 12px;
        color: black;
    }

    .navbar {
        display: none;
    }
}
