* {
  box-sizing: border-box;
}
body {
    color: black;
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}
h1 {
    font-family: 'Georgia', serif;
}
.navbar{
    position: static;
    top: 5em;
    left: 2em;
    width: 100%;
    background-color: #ff48ac;
    list-style-type: none;
    margin: 0 auto;
    text-align: center;

}
.navbar li {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 10px 100px 10px;
    text-decoration: none;
    position: relative;
    
}
.navbar li a { 
    text-align: center;
    color: white; 
    padding: 7px; 
	margin-right: 10px;
	text-decoration: none; 
}
.navbar li a:hover { 
    color: #fff700  ; 
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ff48ac;
    min-width: 160px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
}

.dropdown-content li {
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.dropdown-content li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    border-radius: 5px;
}

.dropdown-content li a:hover {
    background-color: #ff48ac;
    color: #fff700;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown > a::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff700;
    position: absolute;
    right: 90px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.dropdown:hover > a::after {
    opacity: 1;
}

@media all {
    body {
        font-size: 16px;
    }
}
@media print {
    body {
        font-size: 12px;
        color: black;
    }

    .navbar {
        display: none;
    }
}
